<div class="mail-message-div">
    <h2>Здравствуйте, {{ username }}</h2>
    <p>
        Вот и вечер пятницы, а это значит, что пора отдохнуть от рабочей недели.
        Закажите любимую пиццу и подумайте, какой фильм вам бы хотелось посмотреть.
        И уж если с пиццей мы не сможем облегчить муки выбора, то вполне справимся с фильмом.
    </p>
    <h5>
        Ловите персональную подборку:
    </h5>
    <ul>
        {% for film_id in films_ids %}
            <li>
                <p>{{film_id}}</p>
            </li>
        {% endfor %}
    </ul>
</div>
