<div class="mail-message-div">
    <h2>Здравствуйте, {{ username }}</h2>
    <p>
        Мы рады, что вы присоединились к числу зрителей PRACTIX.
        Теперь у вас есть доступ к тысячам фильмов и серивлов на любой вкус.
        Главное, запомните ваш логин и пароль.
    </p>
    <p>
        Для подтверждения электронной почты нажмите на кнопку ниже
    </p>
    <a class="main-message-button-a" href="#">
        Подтвердить
    </a>
    <h3>
        Если у вас возникнут проблемы со входом или вы потеряете доступ к почте, напишите в наш чат поддержки
    </h3>
</div>
